# TCC - Previsão de damanda por meio de aprendizado de máquina usando Análise de Sentimento

## Importação das bibliotecas necessárias para o projeto

In [1]:
import pandas as pd
#import re
#import nltk
#from nltk.corpus import stopwords
#from nltk.tokenize import word_tokenize
#from nltk.stem import WordNetLemmatizer

## Carregar os datasets que serão utilizados

In [2]:
# Carregar os datasets que serão utilizados
orders = pd.read_csv("Data/olist_orders_dataset.csv")
order_items = pd.read_csv("Data/olist_order_items_dataset.csv")
products = pd.read_csv("Data/olist_products_dataset.csv")
reviews = pd.read_csv("Data/olist_order_reviews_dataset.csv")
payments = pd.read_csv("Data/olist_order_payments_dataset.csv") 
sellers = pd.read_csv("Data/olist_sellers_dataset.csv")
customer =pd.read_csv("Data/olist_customers_dataset.csv")
geolocation = pd.read_csv("Data/olist_geolocation_dataset.csv")

## Concatenação das bases de dados

In [3]:
# Unindo tabelas pela chave primária
df = orders.merge(order_items, on="order_id", how="left")  # Junta pedidos com itens
df = df.merge(products, on="product_id", how="left")  # Junta produtos
df = df.merge(reviews, on="order_id", how="left")  # Junta avaliações
df = df.merge(payments, on="order_id", how="right")
df = df.merge(sellers, on="seller_id", how="right")
df = df.merge(customer, on="customer_id", how="right")

## Visualização inicial da base de dados

In [4]:
# Exibir as primeiras linhas
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,payment_type,payment_installments,payment_value,seller_zip_code_prefix,seller_city,seller_state,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00e7ee1b050b8499577073aeb2a297a1,06b8999e2fba1a1fbc88172c00ba8bc7,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,1.0,a9516a079e37a9c9c36b9b78b10169e8,...,credit_card,2.0,146.87,8577.0,itaquaquecetuba,SP,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,29150127e6685892b6eab3eec79f59c7,18955e83d337fd6b2def6b18a428ac77,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,1.0,4aa6014eceb682077f9dc4bffebc05b0,...,credit_card,8.0,335.48,88303.0,itajai,SC,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,b2059ed67ce144a36e2aa97d2c9e9ad2,4e7b3e00288586ebd08712fdd0374a03,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,1.0,bd07b66896d6f1494f5b86251848ced7,...,credit_card,7.0,157.73,8577.0,itaquaquecetuba,SP,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,951670f92359f4fe4a63112aa7306eba,b2b6027bc5c5109e529d4dc6358b12c3,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,1.0,a5647c44af977b148e0a3a4751a09e2e,...,credit_card,1.0,173.30,8577.0,itaquaquecetuba,SP,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,6b7d50bd145f6fc7f33cebabd7e49d0f,4f2d8ab171c80ec8364f7c12e35b23ad,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,1.0,9391a573abe00141c56e38d84d7d5b3b,...,credit_card,8.0,252.25,14940.0,ibitinga,SP,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
# Exibir informações gerais da base de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119091 entries, 0 to 119090
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118315 non-null  object
 1   customer_id                    119091 non-null  object
 2   order_status                   118315 non-null  object
 3   order_purchase_timestamp       118315 non-null  object
 4   order_approved_at              118300 non-null  object
 5   order_delivered_carrier_date   117061 non-null  object
 6   order_delivered_customer_date  115727 non-null  object
 7   order_estimated_delivery_date  118315 non-null  object
 8   order_item_id                  118315 non-null  float64
 9   product_id                     118315 non-null  object
 10  seller_id                      118315 non-null  object
 11  shipping_limit_date            118315 non-null  object
 12  price                          118315 non-null  float64
 13  freight_value                  118315 non-null  float64
 14  product_category_name          116606 non-null  object
 15  product_name_lenght            116606 non-null  float64
 16  product_description_lenght     116606 non-null  float64
 17  product_photos_qty             116606 non-null  float64
 18  product_weight_g               118295 non-null  float64
 19  product_length_cm              118295 non-null  float64
 20  product_height_cm              118295 non-null  float64
 21  product_width_cm               118295 non-null  float64
 22  review_id                      118315 non-null  object
 23  review_score                   118315 non-null  float64
 24  review_comment_title           14089 non-null   object
 25  review_comment_message         50665 non-null   object
 26  review_creation_date           118315 non-null  object
 27  review_answer_timestamp        118315 non-null  object
 28  payment_sequential             118315 non-null  float64
 29  payment_type                   118315 non-null  object
 30  payment_installments           118315 non-null  float64
 31  payment_value                  118315 non-null  float64
 32  seller_zip_code_prefix         118315 non-null  float64
 33  seller_city                    118315 non-null  object
 34  seller_state                   118315 non-null  object
 35  customer_unique_id             119091 non-null  object
 36  customer_zip_code_prefix       119091 non-null  int64
 37  customer_city                  119091 non-null  object
 38  customer_state                 119091 non-null  object
dtypes: float64(15), int64(1), object(23)
memory usage: 36.3+ MB

## Verificação de valores nulos

In [6]:
# Verificar valores nulos em cada coluna
print(df.isnull().sum())
# Antes de remover todos os valores nulos precisamos verificar quais colunas usaremos na etapa de processamento

order_id                            776
customer_id                           0
order_status                        776
order_purchase_timestamp            776
order_approved_at                   791
order_delivered_carrier_date       2030
order_delivered_customer_date      3364
order_estimated_delivery_date       776
order_item_id                       776
product_id                          776
seller_id                           776
shipping_limit_date                 776
price                               776
freight_value                       776
product_category_name              2485
product_name_lenght                2485
product_description_lenght         2485
product_photos_qty                 2485
product_weight_g                    796
product_length_cm                   796
product_height_cm                   796
product_width_cm                    796
review_id                           776
review_score                        776
review_comment_title             105002
review_comment_message            68426
review_creation_date                776
review_answer_timestamp             776
payment_sequential                  776
payment_type                        776
payment_installments                776
payment_value                       776
seller_zip_code_prefix              776
seller_city                         776
seller_state                        776
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
dtype: int64

## Remoção de colunas com valores não relevantes
  Antes de remover todos os valores nulos precisamos verificar quais colunas usaremos na etapa de processamento. 
  
  Talvez seja necessário dar uma revisada no order_status, pois há pedidos que não estão em situação de entrega ou estão em outras situações.
  
  Acredito também que novos dados possam ser produzidos, exemplo: tempo de demora da entrega. A partir de dados como data de envio e data de chegada seria possível gerar essa nova informação

In [7]:
df = df.drop(["order_id", "customer_id", "order_item_id", "product_id", "seller_id", "review_id","customer_unique_id", "review_creation_date", "review_answer_timestamp",
              "order_approved_at", "order_delivered_carrier_date" , "product_name_lenght", "product_description_lenght", "seller_zip_code_prefix", "customer_zip_code_prefix",
              "shipping_limit_date"], axis=1)

## Remoção de registros com valores duplicados

In [8]:
df = df.drop_duplicates(keep='first')

## Visualizando informações da base após a exclusão das colunas

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107545 entries, 0 to 119090
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_status                   107212 non-null  object
 1   order_purchase_timestamp       107212 non-null  object
 2   order_delivered_customer_date  104859 non-null  object
 3   order_estimated_delivery_date  107212 non-null  object
 4   price                          107212 non-null  float64
 5   freight_value                  107212 non-null  float64
 6   product_category_name          105654 non-null  object
 7   product_photos_qty             105654 non-null  float64
 8   product_weight_g               107194 non-null  float64
 9   product_length_cm              107194 non-null  float64
 10  product_height_cm              107194 non-null  float64
 11  product_width_cm               107194 non-null  float64
 12  review_score                   107212 non-null  float64
 13  review_comment_title           12624 non-null   object
 14  review_comment_message         45184 non-null   object
 15  payment_sequential             107212 non-null  float64
 16  payment_type                   107212 non-null  object
 17  payment_installments           107212 non-null  float64
 18  payment_value                  107212 non-null  float64
 19  seller_city                    107212 non-null  object
 20  seller_state                   107212 non-null  object
 21  customer_city                  107545 non-null  object
 22  customer_state                 107545 non-null  object
dtypes: float64(11), object(12)
memory usage: 19.7+ MB

### Criando a coluna que contém o tempo da entrega do pedido com base nas colunas "order_purchase_timestamp" (hora da compra) e "order_delivered_customer_date" (hora real em que o cliente teve sua encomenda entregue)

In [10]:
df[["order_purchase_timestamp", "order_delivered_customer_date"]].head()

  order_purchase_timestamp order_delivered_customer_date
0      2017-05-16 15:05:35           2017-05-25 10:35:35
1      2018-01-12 20:48:24           2018-01-29 12:41:19
2      2018-05-19 16:07:45           2018-06-14 17:58:51
3      2018-03-13 16:06:38           2018-03-28 16:04:25
4      2018-07-29 09:51:30           2018-08-09 20:55:48

In [12]:
df["order_purchase_timestamp"] = pd.to_datetime(df["order_purchase_timestamp"])
df["order_delivered_customer_date"] = pd.to_datetime(df["order_delivered_customer_date"])
df["delivery_time"] = df["order_delivered_customer_date"] - df["order_purchase_timestamp"]

In [16]:
df[["delivery_time","order_purchase_timestamp","order_delivered_customer_date"]].head()

     delivery_time order_purchase_timestamp order_delivered_customer_date
0  8 days 19:30:00      2017-05-16 15:05:35           2017-05-25 10:35:35
1 16 days 15:52:55      2018-01-12 20:48:24           2018-01-29 12:41:19
2 26 days 01:51:06      2018-05-19 16:07:45           2018-06-14 17:58:51
3 14 days 23:57:47      2018-03-13 16:06:38           2018-03-28 16:04:25
4 11 days 11:04:18      2018-07-29 09:51:30           2018-08-09 20:55:48

## Criando coluna que contém o tempo de entrega estimado com base nas colunas "order_purchase_timestamp" e "order_estimated_delivery_date"

In [18]:
df["order_estimated_delivery_date"] = pd.to_datetime(df["order_estimated_delivery_date"])
df["delivery_time_estimated"] = df["order_estimated_delivery_date"] - df["order_purchase_timestamp"]

In [19]:
df[["delivery_time_estimated","order_purchase_timestamp","order_estimated_delivery_date"]].head()

,delivery_time_estimated,order_purchase_timestamp,order_estimated_delivery_date
0,19 days 08:54:25,2017-05-16 15:05:35,2017-06-05
1,24 days 03:11:36,2018-01-12 20:48:24,2018-02-06
2,24 days 07:52:15,2018-05-19 16:07:45,2018-06-13
3,27 days 07:53:22,2018-03-13 16:06:38,2018-04-10
4,16 days 14:08:30,2018-07-29 09:51:30,2018-08-15

## Excluindo colunas "order_purchase_timestamp", "order_delivered_customer_date" e "order_estimated_delivery_date"

In [22]:
df = df.drop(["order_purchase_timestamp", "order_delivered_customer_date", "order_estimated_delivery_date"], axis=1)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107545 entries, 0 to 119090
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   order_status             107212 non-null  object
 1   price                    107212 non-null  float64
 2   freight_value            107212 non-null  float64
 3   product_category_name    105654 non-null  object
 4   product_photos_qty       105654 non-null  float64
 5   product_weight_g         107194 non-null  float64
 6   product_length_cm        107194 non-null  float64
 7   product_height_cm        107194 non-null  float64
 8   product_width_cm         107194 non-null  float64
 9   review_score             107212 non-null  float64
 10  review_comment_title     12624 non-null   object
 11  review_comment_message   45184 non-null   object
 12  payment_sequential       107212 non-null  float64
 13  payment_type             107212 non-null  object
 14  payment_installments     107212 non-null  float64
 15  payment_value            107212 non-null  float64
 16  seller_city              107212 non-null  object
 17  seller_state             107212 non-null  object
 18  customer_city            107545 non-null  object
 19  customer_state           107545 non-null  object
 20  delivery_time            104859 non-null  timedelta64[ns]
 21  delivery_time_estimated  107212 non-null  timedelta64[ns]
dtypes: float64(11), object(9), timedelta64[ns](2)
memory usage: 18.9+ MB

## Exclusão dos valores nulos na coluna "review_comment_message"
   Iremos trabalhar somente com com os dados que possuem o campo reviw_comment_message, que é fundamental para a futura análise de sentimento

In [24]:
df = df.dropna(subset = ["review_comment_message"])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45184 entries, 4 to 119090
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_status             45184 non-null  object
 1   price                    45184 non-null  float64
 2   freight_value            45184 non-null  float64
 3   product_category_name    44487 non-null  object
 4   product_photos_qty       44487 non-null  float64
 5   product_weight_g         45172 non-null  float64
 6   product_length_cm        45172 non-null  float64
 7   product_height_cm        45172 non-null  float64
 8   product_width_cm         45172 non-null  float64
 9   review_score             45184 non-null  float64
 10  review_comment_title     10806 non-null  object
 11  review_comment_message   45184 non-null  object
 12  payment_sequential       45184 non-null  float64
 13  payment_type             45184 non-null  object
 14  payment_installments     45184 non-null  float64
 15  payment_value            45184 non-null  float64
 16  seller_city              45184 non-null  object
 17  seller_state             45184 non-null  object
 18  customer_city            45184 non-null  object
 19  customer_state           45184 non-null  object
 20  delivery_time            43625 non-null  timedelta64[ns]
 21  delivery_time_estimated  45184 non-null  timedelta64[ns]
dtypes: float64(11), object(9), timedelta64[ns](2)
memory usage: 7.9+ MB

## Tratamento da coluna "order_status"
   É preciso compreender como os valores dessa coluna estão dispostos

In [26]:
df["order_status"].value_counts()

delivered      43623
shipped          762
canceled         337
invoiced         232
processing       224
unavailable        6
Name: order_status, dtype: int64

In [28]:
df[df["order_status"] == "canceled"][["review_comment_message"]].head()

                                 review_comment_message
443   É a primeira vez que um produto não chega no p...
445   NÃO TENHO NADA A DIZER DO PROCUTO POIS AINDA N...
1047  0 correio não entregou a minha encomenda por q...
1207  Espero receber esta semana, o que não seria tã...
1697  Não recebi o produto da targaryen e já foi deb...

In [29]:
df[df["order_status"] == "shipped"][["review_comment_message"]].head()

                                review_comment_message
84   Não recebi o produto Ainda, mas aguardo recebe...
95   Acho um desrespeito pediram pra buscar no corr...
119  Fiz a compra e não entregou em minha casa. Fiz...
134                                           Chigling
264  Comprei o produto e até o momento não recebi. ...

In [30]:
df[df["order_status"] == "invoiced"][["review_comment_message"]].head()

                                review_comment_message
53   Comprei o produto fiz o pagamento na semana qu...
155  Recebi a ligação da empresa responsável pelo e...
457  CAROS,\r\n\r\nSolicitei o cancelamento deste p...
458  CAROS,\r\n\r\nSolicitei o cancelamento deste p...
979                      Quero meu dinheiro de volta.

In [31]:
df[df["order_status"] == "processing"][["review_comment_message"]].head()

                                 review_comment_message
1023  Meu produto não foi entregue até hoje e não te...
1517  Absurdo comprar um produto e ele não estar dis...
3455  Não entregaram e até hj não estornaram no meu ...
3474                           Péssimo parceiros de vcs
3475                           Péssimo parceiros de vcs

In [32]:
df[df["order_status"] == "unavailable"][["review_comment_message"]].head()

                                  review_comment_message
4066   Produto não entregue, demoraram mais de um mês...
60173  Em 2 meses de espera não recebi o produto. Div...
70908  a empresa deixou disponível a venda como se ti...
74186  Eu comprei o produto no mês de Outubro com a i...
82323  Prazo não foi cumprido ... até hoje não chegou...

Percebemos que os produtos que ainda não foram entregues também podem ser avaliados em casos especificos como de cancelamento ou venda de produto indisponível por engano. Isso denotou que a coluna "delivery_time" assumirá valores nulos em alguns casos e deverá ser tratada de alguma forma. Portanto deixaremos a coluna "order_status" como ela está e partiremos para uma nova estratégia a fim de tratar a coluna "delivery_time" nos campos vazios.

## Verificando a disposição de valores nulos após as trativas

In [33]:
print(df.isnull().sum())

order_status                   0
price                          0
freight_value                  0
product_category_name        697
product_photos_qty           697
product_weight_g              12
product_length_cm             12
product_height_cm             12
product_width_cm              12
review_score                   0
review_comment_title       34378
review_comment_message         0
payment_sequential             0
payment_type                   0
payment_installments           0
payment_value                  0
seller_city                    0
seller_state                   0
customer_city                  0
customer_state                 0
delivery_time               1559
delivery_time_estimated        0
dtype: int64

### Como os valores nulos são muito poucos comparados ao numéro total de registro vamos deletar todos e vamos deixar somente os valores nulos na "coluna review_comment_title" e "delivery_time"

In [34]:
df = df.dropna(subset = ["product_category_name"])
df = df.dropna(subset = ["product_photos_qty"])
df = df.dropna(subset = ["product_weight_g"])
df = df.dropna(subset = ["product_length_cm"])
df = df.dropna(subset = ["product_height_cm"])
df = df.dropna(subset = ["product_width_cm"])

In [35]:
print(df.isnull().sum())

order_status                   0
price                          0
freight_value                  0
product_category_name          0
product_photos_qty             0
product_weight_g               0
product_length_cm              0
product_height_cm              0
product_width_cm               0
review_score                   0
review_comment_title       33743
review_comment_message         0
payment_sequential             0
payment_type                   0
payment_installments           0
payment_value                  0
seller_city                    0
seller_state                   0
customer_city                  0
customer_state                 0
delivery_time               1518
delivery_time_estimated        0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44487 entries, 4 to 119090
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_status             44487 non-null  object
 1   price                    44487 non-null  float64
 2   freight_value            44487 non-null  float64
 3   product_category_name    44487 non-null  object
 4   product_photos_qty       44487 non-null  float64
 5   product_weight_g         44487 non-null  float64
 6   product_length_cm        44487 non-null  float64
 7   product_height_cm        44487 non-null  float64
 8   product_width_cm         44487 non-null  float64
 9   review_score             44487 non-null  float64
 10  review_comment_title     10744 non-null  object
 11  review_comment_message   44487 non-null  object
 12  payment_sequential       44487 non-null  float64
 13  payment_type             44487 non-null  object
 14  payment_installments     44487 non-null  float64
 15  payment_value            44487 non-null  float64
 16  seller_city              44487 non-null  object
 17  seller_state             44487 non-null  object
 18  customer_city            44487 non-null  object
 19  customer_state           44487 non-null  object
 20  delivery_time            42969 non-null  timedelta64[ns]
 21  delivery_time_estimated  44487 non-null  timedelta64[ns]
dtypes: float64(11), object(9), timedelta64[ns](2)
memory usage: 7.8+ MB

## Tratando as colunas "review_comment_title" e "delivery_time"

In [ ]:
#Tratamento da coluna

In [ ]:
#Verificar se há padrão entre título e comentário para tratamento dos valores nulos do campo título
#Começar o tabalho escrito também com detalhamento do máximo de coisas possíveis

## Analise exploratória dos dados

## Exportação da base de dados (ainda não usado)

In [ ]:
#Vamos exportar essa base para csv. para termos uma melhor visualização no PowerQuerry
df.to_excel('dados_tratados.xlsx', index = False, engine='openpyxl')

## Processamento de linguagem natural (ainda não usado)

In [ ]:
"""""
nltk.download("stopwords")
nltk.download("punkt")
nltk.download("wordnet")

In [ ]:
"""""
# Carregar dataset
df = pd.read_csv("olist_order_reviews_dataset.csv")

# Inicializar lematizador
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words("portuguese"))

In [ ]:
""""
# Função de limpeza
def preprocess_text(text):
    if pd.isnull(text):
        return ""
    text = text.lower()  # Converter para minúsculas
    text = re.sub(r"[^\w\s]", "", text)  # Remover pontuação
    text = re.sub(r"\d+", "", text)  # Remover números
    tokens = word_tokenize(text)  # Tokenizar
    tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]  # Remover stopwords e lematizar
    return " ".join(tokens)

In [ ]:
""""
# Aplicar a limpeza nos comentários
df["cleaned_review"] = df["review_comment_message"].apply(preprocess_text)
print(df[["review_comment_message", "cleaned_review"]].head())