In [1]:
import pandas as pd
#import re
#import nltk
#from nltk.corpus import stopwords
#from nltk.tokenize import word_tokenize
#from nltk.stem import WordNetLemmatizer

In [2]:
# Carregar os datasets que serão utilizados
orders = pd.read_csv("Data/olist_orders_dataset.csv")
order_items = pd.read_csv("Data/olist_order_items_dataset.csv")
products = pd.read_csv("Data/olist_products_dataset.csv")
reviews = pd.read_csv("Data/olist_order_reviews_dataset.csv")
payments = pd.read_csv("Data/olist_order_payments_dataset.csv") 
sellers = pd.read_csv("Data/olist_sellers_dataset.csv")
customer =pd.read_csv("Data/olist_customers_dataset.csv")
geolocation = pd.read_csv("Data/olist_geolocation_dataset.csv")

In [3]:
# Unindo tabelas pela chave primária
df = orders.merge(order_items, on="order_id", how="left")  # Junta pedidos com itens
df = df.merge(products, on="product_id", how="left")  # Junta produtos
df = df.merge(reviews, on="order_id", how="left")  # Junta avaliações
df = df.merge(payments, on="order_id", how="right")
df = df.merge(sellers, on="seller_id", how="right")
df = df.merge(customer, on="customer_id", how="right")

In [4]:
# Exibir as primeiras linhas
df.head()
# Exibir informações gerais da base de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119091 entries, 0 to 119090
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118315 non-null  object
 1   customer_id                    119091 non-null  object
 2   order_status                   118315 non-null  object
 3   order_purchase_timestamp       118315 non-null  object
 4   order_approved_at              118300 non-null  object
 5   order_delivered_carrier_date   117061 non-null  object
 6   order_delivered_customer_date  115727 non-null  object
 7   order_estimated_delivery_date  118315 non-null  object
 8   order_item_id                  118315 non-null  float64
 9   product_id                     118315 non-null  object
 10  seller_id                      118315 non-null  object
 11  shipping_limit_date            118315 non-null  object
 12  price                          118315 non-null  float64
 13  freight_value                  118315 non-null  float64
 14  product_category_name          116606 non-null  object
 15  product_name_lenght            116606 non-null  float64
 16  product_description_lenght     116606 non-null  float64
 17  product_photos_qty             116606 non-null  float64
 18  product_weight_g               118295 non-null  float64
 19  product_length_cm              118295 non-null  float64
 20  product_height_cm              118295 non-null  float64
 21  product_width_cm               118295 non-null  float64
 22  review_id                      118315 non-null  object
 23  review_score                   118315 non-null  float64
 24  review_comment_title           14089 non-null   object
 25  review_comment_message         50665 non-null   object
 26  review_creation_date           118315 non-null  object
 27  review_answer_timestamp        118315 non-null  object
 28  payment_sequential             118315 non-null  float64
 29  payment_type                   118315 non-null  object
 30  payment_installments           118315 non-null  float64
 31  payment_value                  118315 non-null  float64
 32  seller_zip_code_prefix         118315 non-null  float64
 33  seller_city                    118315 non-null  object
 34  seller_state                   118315 non-null  object
 35  customer_unique_id             119091 non-null  object
 36  customer_zip_code_prefix       119091 non-null  int64
 37  customer_city                  119091 non-null  object
 38  customer_state                 119091 non-null  object
dtypes: float64(15), int64(1), object(23)
memory usage: 35.4+ MB

In [5]:
# Verificar valores nulos em cada coluna
print(df.isnull().sum())
# Antes de remover todos os valores nulos precisamos verificar quais colunas usaremos na etapa de processamento

order_id                            776
customer_id                           0
order_status                        776
order_purchase_timestamp            776
order_approved_at                   791
order_delivered_carrier_date       2030
order_delivered_customer_date      3364
order_estimated_delivery_date       776
order_item_id                       776
product_id                          776
seller_id                           776
shipping_limit_date                 776
price                               776
freight_value                       776
product_category_name              2485
product_name_lenght                2485
product_description_lenght         2485
product_photos_qty                 2485
product_weight_g                    796
product_length_cm                   796
product_height_cm                   796
product_width_cm                    796
review_id                           776
review_score                        776
review_comment_title             105002
review_comment_message            68426
review_creation_date                776
review_answer_timestamp             776
payment_sequential                  776
payment_type                        776
payment_installments                776
payment_value                       776
seller_zip_code_prefix              776
seller_city                         776
seller_state                        776
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
dtype: int64

In [6]:
df = df.drop(["order_id", "customer_id", "order_item_id", "product_id", "seller_id", "review_id", "review_creation_date", "review_answer_timestamp",
              "order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date",
              "product_name_lenght", "product_description_lenght", "seller_zip_code_prefix", "customer_zip_code_prefix", "shipping_limit_date", "customer_unique_id"], axis=1)
#talvez seja necessário dar uma revisada no order_status, pois há pedidos que não estão em situação de entrega ou estão em outras situações
#Acredito também que novos dados possam ser produzidos, exemplo: tempo de demora da entrega. A partir de dados como data de envio e data de chegada seria possível gerar essa nova informação, mas por enquanto as datas foram removidas

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119091 entries, 0 to 119090
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_status            118315 non-null  object
 1   price                   118315 non-null  float64
 2   freight_value           118315 non-null  float64
 3   product_category_name   116606 non-null  object
 4   product_photos_qty      116606 non-null  float64
 5   product_weight_g        118295 non-null  float64
 6   product_length_cm       118295 non-null  float64
 7   product_height_cm       118295 non-null  float64
 8   product_width_cm        118295 non-null  float64
 9   review_score            118315 non-null  float64
 10  review_comment_title    14089 non-null   object
 11  review_comment_message  50665 non-null   object
 12  payment_sequential      118315 non-null  float64
 13  payment_type            118315 non-null  object
 14  payment_installments    118315 non-null  float64
 15  payment_value           118315 non-null  float64
 16  seller_city             118315 non-null  object
 17  seller_state            118315 non-null  object
 18  customer_city           119091 non-null  object
 19  customer_state          119091 non-null  object
dtypes: float64(11), object(9)
memory usage: 18.2+ MB

In [8]:
df["order_status"].value_counts()

order_status
delivered      115728
shipped          1255
canceled          570
invoiced          376
processing        376
unavailable         7
approved            3
Name: count, dtype: int64

In [9]:
#Vamos manter somente as colunas que estão com pedidos entregues, pois somente esses pedidos poderão ter avaliações dos usuários 
df = df[df["order_status"]=="delivered"]

In [10]:
df["order_status"].value_counts()

order_status
delivered    115728
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 115728 entries, 0 to 119090
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_status            115728 non-null  object
 1   price                   115728 non-null  float64
 2   freight_value           115728 non-null  float64
 3   product_category_name   114090 non-null  object
 4   product_photos_qty      114090 non-null  float64
 5   product_weight_g        115708 non-null  float64
 6   product_length_cm       115708 non-null  float64
 7   product_height_cm       115708 non-null  float64
 8   product_width_cm        115708 non-null  float64
 9   review_score            115728 non-null  float64
 10  review_comment_title    13751 non-null   object
 11  review_comment_message  48961 non-null   object
 12  payment_sequential      115728 non-null  float64
 13  payment_type            115728 non-null  object
 14  payment_installments    115728 non-null  float64
 15  payment_value           115728 non-null  float64
 16  seller_city             115728 non-null  object
 17  seller_state            115728 non-null  object
 18  customer_city           115728 non-null  object
 19  customer_state          115728 non-null  object
dtypes: float64(11), object(9)
memory usage: 18.5+ MB

In [12]:
print(df.isnull().sum())

order_status                   0
price                          0
freight_value                  0
product_category_name       1638
product_photos_qty          1638
product_weight_g              20
product_length_cm             20
product_height_cm             20
product_width_cm              20
review_score                   0
review_comment_title      101977
review_comment_message     66767
payment_sequential             0
payment_type                   0
payment_installments           0
payment_value                  0
seller_city                    0
seller_state                   0
customer_city                  0
customer_state                 0
dtype: int64

In [13]:
#aqui iremos trabalhar somente com com os dados que possuem o campo reviw_comment_message, que é fundamental para a futura análise de sentimento
df = df.dropna(subset = ["review_comment_message"])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48961 entries, 4 to 119090
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_status            48961 non-null  object
 1   price                   48961 non-null  float64
 2   freight_value           48961 non-null  float64
 3   product_category_name   48232 non-null  object
 4   product_photos_qty      48232 non-null  float64
 5   product_weight_g        48947 non-null  float64
 6   product_length_cm       48947 non-null  float64
 7   product_height_cm       48947 non-null  float64
 8   product_width_cm        48947 non-null  float64
 9   review_score            48961 non-null  float64
 10  review_comment_title    11823 non-null  object
 11  review_comment_message  48961 non-null  object
 12  payment_sequential      48961 non-null  float64
 13  payment_type            48961 non-null  object
 14  payment_installments    48961 non-null  float64
 15  payment_value           48961 non-null  float64
 16  seller_city             48961 non-null  object
 17  seller_state            48961 non-null  object
 18  customer_city           48961 non-null  object
 19  customer_state          48961 non-null  object
dtypes: float64(11), object(9)
memory usage: 7.8+ MB

In [15]:
print(df.isnull().sum())

order_status                  0
price                         0
freight_value                 0
product_category_name       729
product_photos_qty          729
product_weight_g             14
product_length_cm            14
product_height_cm            14
product_width_cm             14
review_score                  0
review_comment_title      37138
review_comment_message        0
payment_sequential            0
payment_type                  0
payment_installments          0
payment_value                 0
seller_city                   0
seller_state                  0
customer_city                 0
customer_state                0
dtype: int64

In [16]:
#Como os valores nulos são muito poucos comparados ao numéro total de registro vamos deletar todos e vamos deixar somente os valores nulos na coluna review_comment_title
df = df.dropna(subset = ["product_category_name"])
df = df.dropna(subset = ["product_photos_qty"])
df = df.dropna(subset = ["product_weight_g"])
df = df.dropna(subset = ["product_length_cm"])
df = df.dropna(subset = ["product_height_cm"])
df = df.dropna(subset = ["product_width_cm"])

In [17]:
print(df.isnull().sum())

order_status                  0
price                         0
freight_value                 0
product_category_name         0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
review_score                  0
review_comment_title      36477
review_comment_message        0
payment_sequential            0
payment_type                  0
payment_installments          0
payment_value                 0
seller_city                   0
seller_state                  0
customer_city                 0
customer_state                0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48232 entries, 4 to 119090
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_status            48232 non-null  object
 1   price                   48232 non-null  float64
 2   freight_value           48232 non-null  float64
 3   product_category_name   48232 non-null  object
 4   product_photos_qty      48232 non-null  float64
 5   product_weight_g        48232 non-null  float64
 6   product_length_cm       48232 non-null  float64
 7   product_height_cm       48232 non-null  float64
 8   product_width_cm        48232 non-null  float64
 9   review_score            48232 non-null  float64
 10  review_comment_title    11755 non-null  object
 11  review_comment_message  48232 non-null  object
 12  payment_sequential      48232 non-null  float64
 13  payment_type            48232 non-null  object
 14  payment_installments    48232 non-null  float64
 15  payment_value           48232 non-null  float64
 16  seller_city             48232 non-null  object
 17  seller_state            48232 non-null  object
 18  customer_city           48232 non-null  object
 19  customer_state          48232 non-null  object
dtypes: float64(11), object(9)
memory usage: 7.7+ MB

In [ ]:
#É necessário realizar a tratativa da coluna review_comment_title
#Sugestão1: Inserir o valor da moda nos registros que forem nulos
#Sugestão2: Pesquisar outras abordagens para realizar o tratamento

In [19]:
df.head(10)

,order_status,price,freight_value,product_category_name,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_score,review_comment_title,review_comment_message,payment_sequential,payment_type,payment_installments,payment_value,seller_city,seller_state,customer_city,customer_state
4,delivered,230.00,22.25,casa_conforto,1.0,5200.0,45.0,15.0,35.0,5.0,a melhor nota,O baratheon è esxelente Amo adoro o baratheon,1.0,credit_card,8.0,252.25,ibitinga,SP,campinas,SP
5,delivered,259.90,22.31,esporte_lazer,2.0,4450.0,60.0,15.0,15.0,5.0,NaN,Loja responsável,1.0,debit_card,1.0,282.21,pirituba,SP,jaragua do sul,SC
8,delivered,25.00,14.10,brinquedos,5.0,350.0,28.0,10.0,12.0,5.0,NaN,chegou antes do prometido,1.0,debit_card,1.0,39.10,rio de janeiro,RJ,curitiba,PR
9,delivered,99.90,22.57,moveis_decoracao,1.0,2500.0,40.0,10.0,30.0,5.0,NaN,"ótimo, entregou antes da data prevista.",1.0,credit_card,1.0,122.47,curitiba,PR,belo horizonte,MG
10,delivered,25.30,15.10,automotivo,8.0,300.0,31.0,17.0,27.0,5.0,NaN,Td certo.Produto e prazo de entrega.,1.0,credit_card,1.0,40.40,piracicaba,SP,montes claros,MG
11,delivered,129.90,23.23,informatica_acessorios,1.0,2950.0,18.0,25.0,18.0,5.0,NaN,"Pena o produto não ter sido entregue em casa, ...",1.0,credit_card,1.0,153.13,itatiba,SP,rio de janeiro,RJ
13,delivered,27.99,8.40,telefonia,6.0,300.0,17.0,4.0,12.0,3.0,NaN,Produto chegou no prazo o problema que veio na...,1.0,credit_card,3.0,36.39,sao paulo,SP,sao paulo,SP
15,delivered,129.00,40.23,ferramentas_jardim,1.0,8325.0,43.0,14.0,33.0,5.0,NaN,Ameiiii !!! excelente produto...excelente qual...,1.0,credit_card,3.0,169.23,cariacica,ES,piracicaba,SP
16,delivered,119.90,17.03,automotivo,5.0,1200.0,16.0,9.0,31.0,5.0,Recomendo,Produto chegou antes da data prevista.,1.0,credit_card,2.0,136.93,sao paulo,SP,rio de janeiro,RJ
18,delivered,89.90,12.13,cama_mesa_banho,1.0,1383.0,50.0,10.0,40.0,3.0,NaN,o produto não foi entregue ainda por inconsist...,2.0,voucher,1.0,34.05,ibitinga,SP,sao paulo,SP

In [ ]:
#Agora vamos começar a análise exploratória dos dados

In [ ]:
#Vamos exportar essa base para csv. para termos uma melhor visualização no PowerQuerry
df.to_excel('dados_tratados.xlsx', index = False, engine='openpyxl')

In [ ]:
"""""
nltk.download("stopwords")
nltk.download("punkt")
nltk.download("wordnet")

In [ ]:
"""""
# Carregar dataset
df = pd.read_csv("olist_order_reviews_dataset.csv")

# Inicializar lematizador
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words("portuguese"))

In [ ]:
""""
# Função de limpeza
def preprocess_text(text):
    if pd.isnull(text):
        return ""
    text = text.lower()  # Converter para minúsculas
    text = re.sub(r"[^\w\s]", "", text)  # Remover pontuação
    text = re.sub(r"\d+", "", text)  # Remover números
    tokens = word_tokenize(text)  # Tokenizar
    tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]  # Remover stopwords e lematizar
    return " ".join(tokens)

In [ ]:
""""
# Aplicar a limpeza nos comentários
df["cleaned_review"] = df["review_comment_message"].apply(preprocess_text)
print(df[["review_comment_message", "cleaned_review"]].head())